.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    display: none;
}

.nav a {
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}
.close {
    display: none;
}

.close img {
}
