.sidebar {
}

.sidebar.open {
    display: block;
    position: relative;
}

.background {
    height: 100vh;
    width: 100vw;
    background: rgba(29, 33, 38, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    padding: 60px 0 60px 70px ;
    width: 317px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 100;
    position: absolute;
}

.nav a {
    margin-bottom: 45px;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}
.close {
    background-color: inherit;
    border: none;
    display: none;
    z-index: 110;
}

.sidebar.open > .close {
    display: block;
    position: absolute;
    top: 22px;
    left: 275px;
}

.close img {
}
