.item {
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
    border: none;
}

.users {
    min-width: 600px;
    border-collapse: collapse;
    border-spacing: 0;
}

.buttonsContainer {
    margin: 34px 0 18px;
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.thead {
    background-color: #E5E5E5;
}

.nameCol {
    padding: 17px;
    width: 50%;
}

.ageCol {
    width: 50%;
}