.item {
}

td {
    padding: 17px;
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
}

.users {
    min-width: 600px;
    border-spacing: 0;
}

.buttonsContainer {
    margin: 34px 0 18px;
}

.container {
   margin-bottom: 30px;
}

thead {
}

.thead {
    background-color: #E5E5E5;
}

.nameCol {
    width: 50%;
}

.ageCol {
    width: 50%;
}