.sidebar {
    background-color: #4b4b7e;
}

.sidebar__content {
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__items {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidebar__items a:hover {
    background-color: #4b4b7e;
    filter: contrast(30);
}

.active,
.menu__button,
.menu__button__pressed {
    background-color: #17172e;
    border: 2px solid antiquewhite;
}

.sidebar__items a {
    padding: 15px;
    text-decoration: none;
    color: antiquewhite;
}

.menu__button,
.menu__button__pressed {
    margin: 0;
    padding: 15px 0;
    width: 65px;
    color: antiquewhite;
    position: absolute;
    left: 0;
}

.sidebar__items {
    display: none;
}

.menu__button__pressed + .sidebar__items {
    display: flex;
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translateX(600px)
    }
    50% {
        transform: translateX(400px)
    }
    100% {
        transform: translateX(0)

    }
}

@media (min-width: 768px) {
    .sidebar__items {
        padding: 0;
        flex-direction: row;
    }
    .sidebar__items:nth-child(1n) {
        margin: 0 0 0 70px;
    }
}

@media (min-width: 1400px) {
    .menu__button, .menu__button__pressed {
        display: none;
    }

    .sidebar__items {
        max-width: 1400px;
        display: flex;
        justify-content: center;
    }
    .sidebar__items:nth-child(1n)  {
        margin: 0;
    }
}