.header {
    min-height: 70px;
    display: flex;
    align-items: baseline;
    position: relative;
    background-color: #4b4b7e;
}

.header__items {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

.header__items a:hover {
    background-color: #4b4b7e;
    filter: contrast(30);
}

.active,
.menu__button,
.menu__button__pressed {
    background-color: #17172e;
    border: 2px solid antiquewhite;
}

@media (min-width: 768px) {
    .header__items {
        width: 740px;
        padding: 0;
    }
    .header__items:nth-child(1n) {
        margin-left: 100px;
    }
}

.header__items a {
    padding: 20px;
    margin: 0 auto;
    text-decoration: none;
    color: antiquewhite;
}

.menu__button,
.menu__button__pressed {
    margin: 0;
    padding: 20px 0;
    width: 100px;
    color: antiquewhite;
    position: absolute;
}

.header__items {
    display: none;
}

.menu__button__pressed + .header__items {
    display: flex;
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translateX(600px)
    }
    50% {
        transform: translateX(400px)
    }
    100% {
        transform: translateX(0)

    }
}

