.burgerMenuIcon {
    position: relative;
}

.header {
    background: white;
    color: black;
    padding: 25px 70px;
    min-height: 60px;
    box-shadow: 0 0 25px rgba(29, 33, 38, 0.13);
}

.header h1 {
    font-size: 24px;
    position: absolute;
    top: 17px;
    right: 70px;
}