.menu {
    background-color: #4b4b7e;
}

.menu__items {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

.menu__items a:hover {
    background-color: #4b4b7e;
    filter: contrast(30);
}

@media (min-width: 768px) {
    .menu__items {
        width: 740px;
    }
}

.menu__items a {
    padding: 20px;
    margin: 0 auto;
    text-decoration: none;
    color: antiquewhite;
}
